# Python Cache
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
env/
.env/

# log
*.log

# Jupyter Notebook Check Point
.ipynb_checkpoints/

# Cache
.cache/

# IDE & Setting
.vscode/
.idea/

# System
Thumbs.db
.DS_Store

# Environment Variable Setting
*.env

# test
temp/

# Python egg-info
*.egg-info/
